{
  "baby_gender": "{பாலினம், தேர்ந்தெடுக்கவும், பெண் {இது ஒரு பெண்!} பையன் {இது ஒரு பையன்!} other {இது வேறு ஏதாவது!}}",
  "num_of_apples": "{apples, plural, one {ஒரு ஆப்பிள் உள்ளது...} other {# ஆப்பிள்கள் உள்ளன!}}",
  "organizer_gender": "{organizer_gender, select, female {{organizer_name}அவளுடைய விருந்துக்கு உங்களை அழைத்துள்ளார்! ஆண் {{organizer_name} உங்களை தனது விருந்துக்கு அழைத்துள்ளார்! மற்றவர்கள் {{organizer_name} உங்களை தங்கள் விருந்துக்கு அழைத்துள்ளனர்!}}",
  "users": "{count, plural, one {எங்களிடம் ஒரு பயனர் பெயரிடப்பட்டுள்ளது{user_name}.} other {எங்களிடம் # பயனர்கள் பெயரிடப்பட்டுள்ளனர்{user_name}.}}"
}