{
  "baby_gender": "{gender, select, girl {It's a girl!} boy {It's a boy!} other {It's something else!}}",
  "num_of_apples": "{apples, plural, one {There is one apple...} other {There are # apples!}}",
  "organizer_gender": "{organizer_gender, select, female {{organizer_name} has invited you for her party!} male {{organizer_name} has invited you for his party!} other {{organizer_name} have invited you for their party!}}",
  "users": "{count, plural, one {We have one user named {user_name}.} other {We have # users named {user_name}.}}"
}