{block noscript_class}xsticky-top my_sticky_top{/block}
{block noscript_inner}
	&lt;div class="banner"&gt;
	&lt;p&gt;JavaScript is not functional&lt;/p&gt;
	&lt;/div&gt;
{/block}
{*<noscript class="xsticky-top my_sticky_top">
	&lt;div class="banner"&gt;
	&lt;p&gt;JavaScript is not functional&lt;/p&gt;
	&lt;/div&gt;
</noscript>*}
