login: "log in"
#register: "register"
register: "sign-up"
already_have_an_account_login: "Already have an account? Log in"
dont_have_an_account_yet_register: "Don't have an account yet? Sign up"
forgot_password: "Forgot my password?"
username: "username"
username_required: "Pick a username"
pick_username: "Pick a username."
email: "E-mail"
email_required: "Please enter your e-mail address."
create_password: "Create a password"
password_required: "Create a password."
at_least_d_characters: "at least %d% characters"

dashboard: "view"
edit: "edit"
home: "home"

business: "business"
businesses: "businesses"

profile: "profile"
title_profile: "profile of %name%"
