{
  "US": "Verenigde Staten",
  "active": "aktiewe",
  "afrikaans": "Afrikaans",
  "albanian": "Albanees",
  "already_have_an_account_login": "Het jy al 'n rekening? Meld aan",
  "at_least_d_characters": "ten minste %d% karakters",
  "business": "besigheid",
  "business_name_required": "Voer asseblief die besigheidsnaam in.",
  "business_not_found": "Besigheid nie gevind",
  "businesses": "bedrywighede",
  "city": "stad",
  "create_password": "Skep 'n wagwoord",
  "create_password_required": "Skep 'n wagwoord.",
  "czech": "Tsjeggies",
  "dashboard": "bekyk",
  "dont_have_an_account_yet_register": "Het jy nog nie 'n rekening nie? Teken aan",
  "edit": "redigeer",
  "email": "E-pos",
  "email_required": "Voer asseblief jou e-posadres in.",
  "english": "Engels",
  "forgot_password": "My wagwoord vergeet?",
  "home": "home",
  "line2": "adresreël 2",
  "login": "log in",
  "name": "naam",
  "password": "wachtwoord",
  "password_required": "Voer asseblief jou wagwoord in.",
  "pick_username": "Kies 'n gebruikersnaam.",
  "polish": "Pools",
  "post_code": "poskode",
  "profile": "profiel",
  "province": "provinsie",
  "register": "aanmeld",
  "slovak": "Slowaaks",
  "slovakian": "Slowaaks",
  "source": "bron",
  "street_address": "straatadres",
  "street_address_required": "straatadres vereis",
  "tamil": "Tamil",
  "title_profile": "profiel van %name%",
  "titlr": "titel",
  "username": "gebruikersnaam",
  "username_password_incorrect.": "Die gebruikersnaam of wagwoord wat u ingevoer het, is verkeerd.",
  "username_required": "Voer asseblief jou gebruikersnaam in.",
  "username_taken": "Gebruikersnaam is reeds geneem.",
  "website": "webwerf"
}