Login: "Log in"
login: "log in"
Sign_up: "Register"

Dashboard: "View"
Edit: "Edit"

business: "business"
businesses: "businesses"
Business: "Business"
Businesses: "Businesses"

profile: "profile"
title_profile: "profile of %name%"

