{
  "Afrikaans": "南非荷兰语",
  "Albanian": "阿尔巴尼亚人",
  "China": "中国",
  "Czech": "捷克语",
  "English": "英语",
  "International": "国际",
  "Polish": "波兰语",
  "Simplified": "简化",
  "Slovak": "斯洛伐克人",
  "Slovakian": "斯洛伐克的",
  "Tamil": "泰米尔人",
  "US": "美国",
  "active": "活跃",
  "afrikaans": "南非荷兰语",
  "albanian": "阿尔巴尼亚人",
  "already_have_an_account_login": "已经有账户？登录",
  "at_least_d_characters": "至少有%d%个字符",
  "business": "商业",
  "business_name_required": "请输入企业名称。",
  "business_not_found": "未找到企业",
  "businesses": "商业",
  "city": "市",
  "create_password": "创建密码",
  "create_password_required": "创建密码。",
  "created": "已创建",
  "czech": "捷克语",
  "dashboard": "查看",
  "dont_have_an_account_yet_register": "还没有账号？注册吧",
  "edit": "编辑",
  "email": "E-mail",
  "email_required": "请输入您的电子邮件地址。",
  "english": "英语",
  "firstname": "名",
  "forgot_password": "忘记我的密码了吗？",
  "home": "家",
  "international": "国际",
  "lastname": "姓",
  "line2": "地址行2",
  "login": "登录",
  "method": "方法",
  "name": "姓名",
  "password": "密码",
  "password_required": "请输入您的密码。",
  "pick_username": "选择一个用户名。",
  "polish": "波兰语",
  "post_code": "邮政编码",
  "profile": "个人资料",
  "province": "省",
  "register": "注册",
  "slovak": "斯洛伐克人",
  "slovakian": "斯洛伐克的",
  "source": "来源",
  "street_address": "街道地址",
  "street_address_required": "街道地址为必填项",
  "tamil": "泰米尔人",
  "title": "标题",
  "title_profile": "的概况 %name%",
  "titlr": "标题",
  "updated": "已更新",
  "username": "用户名",
  "username_password_incorrect.": "您输入的用户名或密码不正确。",
  "username_required": "请输入您的用户名。",
  "username_taken": "用户名已被占用。",
  "value": "value",
  "website": "网站"
}