{
  "Afrikaans": "Afrykanerski",
  "Albanian": "Albański",
  "China": "Chiny",
  "Czech": "Czech",
  "English": "Anglik",
  "International": "Międzynarodowe",
  "Polish": "Polskie",
  "Simplified": "Uproszczony",
  "Slovak": "Słowacki",
  "Slovakian": "Słowacki",
  "Tamil": "Tamilski",
  "US": "Stany Zjednoczone",
  "active": "aktywny",
  "afrikaans": "Afrykanerski",
  "albanian": "Albański",
  "already_have_an_account_login": "Masz już konto? Zaloguj się",
  "at_least_d_characters": "przynajmniej %d% postacie",
  "business": "biznesowe",
  "business_name_required": "Wprowadź nazwę firmy.",
  "business_not_found": "Firma nie została znaleziona",
  "businesses": "przedsiębiorstwa",
  "city": "city",
  "create_password": "Utwórz hasło",
  "create_password_required": "Utwórz hasło.",
  "created": "created",
  "czech": "Czech",
  "dashboard": "wyświetl",
  "dont_have_an_account_yet_register": "Nie masz jeszcze konta? Zarejestruj się",
  "edit": "edit",
  "email": "E-mail",
  "email_required": "Wprowadź swój adres e-mail.",
  "english": "Anglik",
  "firstname": "imię",
  "forgot_password": "Zapomniałem hasła?",
  "home": "home",
  "international": "Międzynarodowe",
  "lastname": "nazwisko",
  "line2": "wiersz adresu 2",
  "login": "zaloguj",
  "method": "metoda",
  "name": "nazwa",
  "password": "password",
  "password_required": "Wprowadź swoje hasło.",
  "pick_username": "Wybierz nazwę użytkownika.",
  "polish": "Polskie",
  "post_code": "kod pocztowy",
  "profile": "profil",
  "province": "prowincja",
  "register": "zarejestruj się",
  "slovak": "Słowacki",
  "slovakian": "Słowacki",
  "source": "Źródło",
  "street_address": "adres ulicy",
  "street_address_required": "wymagany adres ulicy",
  "tamil": "Tamilski",
  "title": "tytuł",
  "title_profile": "profil użytkownika %name%",
  "titlr": "tytuł",
  "updated": "zaktualizowano",
  "username": "nazwa użytkownika",
  "username_password_incorrect.": "Wprowadzona nazwa użytkownika lub hasło są nieprawidłowe.",
  "username_required": "Wprowadź swoją nazwę użytkownika.",
  "username_taken": "Nazwa użytkownika jest już podjęta.",
  "value": "wartość",
  "website": "strona w sieci"
}