{
  "US": "ஐக்கிய அமெரிக்கா",
  "active": "செயலில்",
  "afrikaans": "ஆப்பிரிக்கர்கள்",
  "albanian": "அல்பேனியன்",
  "already_have_an_account_login": "ஏற்கனவே கணக்கு இருக்கிறதா? உள்நுழைக",
  "at_least_d_characters": "குறைந்தபட்சம் %d% எழுத்துக்கள்",
  "business": "வணிகம்",
  "business_name_required": "வணிக பெயரை உள்ளிடவும்.",
  "business_not_found": "வணிகம் கண்டுபிடிக்கப்படவில்லை",
  "businesses": "வணிகம்",
  "city": "நகரம்",
  "create_password": "கடவுச்சொல்லை உருவாக்கவும்",
  "create_password_required": "கடவுச்சொல்லை உருவாக்கவும்.",
  "czech": "செக்",
  "dashboard": "பார்வை",
  "dont_have_an_account_yet_register": "இன்னும் கணக்கு இல்லையா? பதிவுபெறுக",
  "edit": "திருத்துக",
  "email": "மின்னஞ்சல்",
  "email_required": "உங்கள் மின்னஞ்சல் முகவரியை உள்ளிடவும்.",
  "english": "ஆங்கிலம்",
  "forgot_password": "கடவுச்சொல்லை மறந்துவிட்டீர்கள",
  "home": "முகப்பு",
  "line2": "முகவரிவரி 2",
  "login": "உள்நுழைய",
  "name": "பெயர்",
  "password": "கடவுச்சொல்",
  "password_required": "உங்கள் கடவுச்சொல்லை உள்ளிடவும்.",
  "pick_username": "பயனர்பெயரைத் தேர்வு செய்யவும்.",
  "polish": "போலிஷ்",
  "post_code": "அஞ்சல் குறியீடு",
  "profile": "சுயவிவரம்",
  "province": "மாகாணம்",
  "register": "பதிவுசெய்தல்",
  "slovak": "ஸ்லோவாக்",
  "slovakian": "ஸ்லோவாக்கியன்",
  "source": "மூலம்",
  "street_address": "தெரு முகவரி",
  "street_address_required": "தெரு முகவரி தேவை",
  "tamil": "தமிழ்",
  "title_profile": "இன் சுயவிவரம் %name%",
  "titlr": "தலைப்பு",
  "username": "பயனர்பெயர்",
  "username_password_incorrect.": "நீங்கள் உள்ளிட்ட பயனர்பெயர் அல்லது கடவுச்சொல் தவறானது.",
  "username_required": "உங்கள் பயனர்பெயரை உள்ளிடவும்.",
  "username_taken": "பயனர்பெயர் ஏற்கனவே எடுக்கப்பட்டது.",
  "website": "இணையதளம்"
}