{
  "Afrikaans": "Afrikanisht",
  "Albanian": "Shqiptare",
  "China": "Kinë",
  "Czech": "Çek",
  "English": "Anglisht",
  "International": "Ndërkombëtare",
  "Polish": "Lustër",
  "Simplified": "Thjeshtësuar",
  "Slovak": "Sllovake",
  "Slovakian": "Sllovakisht",
  "Tamil": "Tamile",
  "US": "Shtetet e Bashkuara",
  "active": "Aktiv",
  "afrikaans": "Afrikanisht",
  "albanian": "shqiptare",
  "already_have_an_account_login": "Tashmë keni një llogari? Identifikohu",
  "at_least_d_characters": "Të paktën %d% karaktere",
  "business": "biznes",
  "business_name_required": "Ju lutemi shkruani emrin e biznesit.",
  "business_not_found": "Biznesi nuk u gjet",
  "businesses": "bizneset",
  "city": "Qytet",
  "create_password": "Krijo një fjalëkalim",
  "create_password_required": "Krijo një fjalëkalim.",
  "created": "krijuar",
  "czech": "çek",
  "dashboard": "pamje",
  "dont_have_an_account_yet_register": "Nuk keni ende një llogari? Regjistrohu",
  "edit": "Modifiko",
  "email": "E-mail",
  "email_required": "Ju lutemi shkruani adresën tuaj të postës elektronike.",
  "english": "anglisht",
  "firstname": "emri i parë",
  "forgot_password": "Keni harruar fjalëkalimin tim?",
  "home": "Faqja kryesore",
  "international": "Ndërkombëtare",
  "lastname": "mbiemri",
  "line2": "linja e adresës 2",
  "login": "Identifikohu",
  "method": "metodë",
  "name": "Emri",
  "password": "Fjalëkalimi",
  "password_required": "Ju lutemi shkruani fjalëkalimin tuaj.",
  "pick_username": "Zgjidhni një emër përdoruesi.",
  "polish": "lustër",
  "post_code": "Kodi postar",
  "profile": "Profili",
  "province": "Provinca",
  "register": "regjistrohu",
  "slovak": "Sllovake",
  "slovakian": "sllovakisht",
  "source": "Burimi",
  "street_address": "Adresa e rrugës",
  "street_address_required": "Adresa e rrugës kërkohet",
  "tamil": "Tamile",
  "title": "emër",
  "title_profile": "profili i %name%",
  "titlr": "emër",
  "updated": "përditësuar",
  "username": "Emri i përdorimit",
  "username_password_incorrect.": "Emri i përdoruesit ose fjalëkalimi që keni futur është i pasaktë.",
  "username_required": "Ju lutemi shkruani emrin tuaj të përdoruesit.",
  "username_taken": "Emri i përdoruesit tashmë është marrë.",
  "value": "vlera",
  "website": "Website"
}