{
  "Afrikaans": "Afrikánština",
  "Albanian": "Albánský",
  "China": "Čína",
  "Czech": "Čeština",
  "English": "English",
  "International": "Mezinárodní",
  "Polish": "Polsky",
  "Simplified": "Zjednodušené",
  "Slovak": "Slovák",
  "Slovakian": "Slovenský",
  "Tamil": "Tamil",
  "US": "Spojené státy",
  "active": "aktivní",
  "afrikaans": "Afrikánština",
  "albanian": "Albánský",
  "already_have_an_account_login": "Už máte účet? Přihlásit se",
  "at_least_d_characters": "alespoň %d% znaky",
  "business": "podnikání",
  "business_name_required": "Zadejte prosím název firmy.",
  "business_not_found": "Podnikání nebylo nalezeno",
  "businesses": "podniky",
  "city": "město",
  "create_password": "Vytvořit heslo",
  "create_password_required": "Vytvořte heslo.",
  "created": "vytvořeno",
  "czech": "čeština",
  "dashboard": "zobrazit",
  "dont_have_an_account_yet_register": "Ještě nemáte účet? Zaregistrujte se",
  "edit": "upravit",
  "email": "E-mail",
  "email_required": "Zadejte prosím svou e-mailovou adresu.",
  "english": "English",
  "firstname": "firstName",
  "forgot_password": "Zapomněli jste heslo?",
  "home": "domů",
  "international": "Mezinárodní",
  "lastname": "lastNázev",
  "line2": "Řádek adresy 2",
  "login": "log in",
  "method": "metoda",
  "name": "name",
  "password": "password",
  "password_required": "Zadejte prosím své heslo.",
  "pick_username": "Vyberte uživatelské jméno.",
  "polish": "Polsky",
  "post_code": "směrovací číslo",
  "profile": "profil",
  "province": "provincie",
  "register": "přihlásit se",
  "slovak": "Slovák",
  "slovakian": "Slovenský",
  "source": "zdroj",
  "street_address": "adresa ulice",
  "street_address_required": "požadovaná adresa ulice",
  "tamil": "Tamil",
  "title": "title",
  "title_profile": "profil uživatele %name%",
  "titlr": "title",
  "updated": "ktualizováno",
  "username": "uživatelské jméno",
  "username_password_incorrect.": "Zadané uživatelské jméno nebo heslo je nesprávné.",
  "username_required": "Zadejte prosím své uživatelské jméno.",
  "username_taken": "Uživatelské jméno je již přijato.",
  "value": "hodnota",
  "website": "webová stránka"
}