{
  "Afrikaans": "Afrikaans",
  "Albanian": "Albánčina",
  "China": "Čína",
  "Czech": "Česky",
  "English": "Anglický",
  "International": "Medzinárodný",
  "Polish": "Poľský",
  "Simplified": "Zjednodušené",
  "Slovak": "Slovensky",
  "Slovakian": "Slovenský",
  "Tamil": "Tamilčina",
  "US": "Spojené štáty",
  "active": "aktívny",
  "afrikaans": "Afrikaans",
  "albanian": "Albánčina",
  "already_have_an_account_login": "Už máte účet? Prihlásiť sa",
  "at_least_d_characters": "aspoň %d% znaky",
  "business": "podnikanie",
  "business_name_required": "Prosím, zadajte názov firmy.",
  "business_not_found": "Obchod nebol nájdený",
  "businesses": "podniky",
  "city": "mesto",
  "create_password": "Vytvorte heslo",
  "create_password_required": "Vytvorte heslo.",
  "created": "vytvorené",
  "czech": "Česky",
  "dashboard": "zobraziť",
  "dont_have_an_account_yet_register": "Ešte nemáte účet? Zaregistrujte sa",
  "edit": "editovať",
  "email": "E-mail",
  "email_required": "Prosím, zadajte svoju e-mailovú adresu.",
  "english": "Anglický",
  "firstname": "krstné meno",
  "forgot_password": "Zabudli ste heslo?",
  "home": "domov",
  "international": "Medzinárodný",
  "lastname": "priezvisko",
  "line2": "riadok adresy 2",
  "login": "prihláste sa",
  "method": "metóda",
  "name": "názov",
  "password": "heslo",
  "password_required": "Prosím, zadajte svoje heslo.",
  "pick_username": "Vyberte si používateľské meno.",
  "polish": "Poľský",
  "post_code": "PSČ",
  "profile": "profil",
  "province": "provincia",
  "register": "prihlásiť sa",
  "slovak": "Slovensky",
  "slovakian": "Slovenský",
  "source": "zdroj",
  "street_address": "adresa ulice",
  "street_address_required": "vyžaduje sa adresa ulice",
  "tamil": "Tamilčina",
  "title": "titulok",
  "title_profile": "profil %name%",
  "titlr": "titulok",
  "updated": "aktualizované",
  "username": "užívateľské meno",
  "username_password_incorrect.": "Používateľské meno alebo heslo, ktoré ste zadali, sú nesprávne.",
  "username_required": "Zadajte prosím svoje používateľské meno.",
  "username_taken": "Užívateľské meno je už prijaté.",
  "value": "hodnota",
  "website": "webové stránky"
}