{
  "US": "United States",
  "active": "active",
  "afrikaans": "Afrikaans",
  "albanian": "Albanian",
  "already_have_an_account_login": "Already have an account? Log in",
  "at_least_d_characters": "at least %d% characters",
  "business": "Business",
  "business_name_required": "Please enter the business name.",
  "business_not_found": "Business not found",
  "businesses": "Businesses",
  "city": "city",
  "create_password": "Create a password",
  "create_password_required": "Create a password.",
  "czech": "Czech",
  "dashboard": "View",
  "dont_have_an_account_yet_register": "Don't have an account yet? Sign up",
  "edit": "Edit",
  "email": "E-Mail",
  "email_required": "Please enter your e-mail address.",
  "english": "English",
  "forgot_password": "Forgot my password?",
  "home": "Home",
  "line2": "address Line 2",
  "login": "Log in",
  "name": "name",
  "password": "password",
  "password_required": "Please enter your password. ",
  "pick_username": "Pick a username.",
  "polish": "Polish",
  "post_code": "postal code",
  "profile": "Profile",
  "province": "province",
  "register": "",
  "slovak": "Slovak",
  "slovakian": "Slovakian",
  "source": "source",
  "street_address": "street address",
  "street_address_required": "street address required",
  "tamil": "Tamil",
  "title_profile": "profile of %name%",
  "titlr": "title",
  "username": "Username",
  "username_password_incorrect.": "The username or password you entered is incorrect.",
  "username_required": "Please enter your username.",
  "username_taken": "Username is already taken.",
  "website": "website"
}