translation:
	locales:
		whitelist: [en, cs, sk, af, pl, sq, ta, zh-Hans-CN]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/lang
		- %appDir%/lang/plurals
	returnOriginalMessage: false
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Parameter
		- Contributte\Translation\LocalesResolvers\Header
		#- Contributte\Translation\LocalesResolvers\Session
