translation:
	locales:
		whitelist: [en, cs, sk]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: false
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Header
		- Contributte\Translation\LocalesResolvers\Parameter
		- Contributte\Translation\LocalesResolvers\Session
