{* The sign-up page *}

{block content}
<div class=container>
<h1 n:block=title>Sign Up</h1>

{include bootstrap-form signUpForm}

<p class="text-center"><a n:href="in">Already have an account? Log in.</a></p>
</div>
